<!DOCTYPE HTML>
<HTML>
	<head>
		<meta name="description" content="BrainStorm 2014 - Online treasure hunt event!">
    	<%= stylesheet_link_tag "home_page" %>
	</head>
	<body>

		<img src="bsback.png" class="bg">
		<img src="brainstormlogo.png" class="cg">

</body>
</HTML>